* {
  margin: 0;
  padding: 0;
  border: 0;
}

@-webkit-keyframes logo {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes burger-menu {
  0% {
  }
  100% {
    left: 0;
  }
}

@keyframes burger-menu {
  0% {
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes burger-icon {
  0% {
  }
  100% {
    right: 20px;
  }
}

@keyframes burger-icon {
  0% {
  }
  100% {
    right: 20px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background: url(../images/top2.jpg) center center/cover no-repeat;
  min-height: 500px;
}

.background .shadow {
  background-color: rgba(0, 0, 0, 0.31);
  max-width: 1200px;
  min-height: 500px;
  position: relative;
}

.background .shadow .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .shadow .menu .logotip {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .shadow .menu .logotip:hover {
  -webkit-animation: logo 1s;
          animation: logo 1s;
}

.background .shadow .menu .logotip .logo {
  background: url(../logo/moscow.png) center center/contain no-repeat;
  padding: 20px;
}

.background .shadow .menu .logotip span {
  font-size: 25px;
  margin-left: 10px;
  color: yellow;
  cursor: context-menu;
  font-style: italic;
  font-family: 'Lobster', cursive;
  margin-right: 30px;
}

.background .shadow .menu nav {
  margin-top: 20px;
}

.background .shadow .menu nav a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  position: relative;
}

.background .shadow .menu nav a:before {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -1px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.background .shadow .menu nav a:hover:before {
  width: 100%;
}

.background .shadow .information {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.background .shadow .information h2 {
  color: white;
  font-size: 40px;
}

.background .shadow .information h1 {
  color: white;
  font-size: 22px;
}

.background .shadow .information p {
  color: white;
  font-size: 30px;
}

.background .burger-menu {
  display: none;
}

.background .burger-icon {
  display: none;
}

.contacts-content h2 {
  color: #3055d8;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 30px;
}

.contacts-content .ccc {
  padding: 10px 60px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.contacts-content .staff {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.contacts-content .staff .block-staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 60px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.contacts-content .staff .block-staff .picture-staff1 {
  background: url("../images/man.jpg") center center/cover no-repeat;
  width: 300px;
  height: 150px;
}

.contacts-content .staff .block-staff .picture-staff2 {
  background: url("../images/woman.jpg") center center/cover no-repeat;
  width: 300px;
  height: 150px;
}

.contacts-content .staff .block-staff .info-staff {
  background-color: orange;
  width: -webkit-fill-available;
}

.contacts-content .staff .block-staff .info-staff .name {
  font-size: 20px;
}

.contacts-content .staff .block-staff .info-staff p {
  padding: 10px 30px 0 30px;
  font-weight: 600;
  font-size: 13px;
}

.contacts-content .staff .block-staff .info-staff p:last-child {
  color: #3055d8;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback .conBlock {
  width: 50%;
  padding: 10px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.feedback .conBlock p {
  font-size: 20px;
}

.feedback .conBlock .genezis_conBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.feedback .conBlock .genezis_conBlock .place_conBlock {
  background: url("../icons/placeholder.png") center center/contain no-repeat;
  padding: 25px;
  margin-right: 5px;
}

.feedback .conBlock .genezis_conBlock .email_conBlock {
  background: url("../icons/mail.png") center center/contain no-repeat;
  padding: 25px;
  margin-right: 5px;
}

.feedback .conBlock .genezis_conBlock .tel_conBlock {
  background: url("../icons/telephone.png") center center/contain no-repeat;
  padding: 25px;
  margin-right: 5px;
}

.feedback .forms {
  width: 50%;
  padding: 10px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.feedback .forms h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.feedback .forms [type="text"],
.feedback .forms [type="email"] {
  border: 2px solid orange;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5px;
}

.feedback .forms [name="massage"] {
  border: 2px solid orange;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 70px;
}

.feedback .forms [type="submit"] {
  width: 100%;
  padding: 10px 40px;
  background: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts {
  background-color: #3c5569;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .poster {
  width: 30%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
}

.contacts .poster .poster-logotip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contacts .poster .poster-logotip .poster-logo {
  background: url(../logo/moscow.png) center center/contain no-repeat;
  padding: 20px;
  margin-right: 10px;
}

.contacts .poster .poster-logotip span {
  color: yellow;
  font-size: 25px;
  cursor: context-menu;
  font-style: italic;
  font-family: 'Lobster', cursive;
}

.contacts .poster p {
  color: wheat;
  font-size: 17px;
  line-height: 1.5;
}

.contacts .contact {
  width: auto;
  margin-top: 52px;
  margin-bottom: 40px;
  -ms-flex-preferred-size: 239px;
      flex-basis: 239px;
}

.contacts .contact h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.contacts .contact p {
  color: white;
  line-height: 1.5;
  font-size: 17px;
}

.contacts .contact .place-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contact .place-block .place {
  background: url("../icons/placeholder.png") center center/contain no-repeat;
  padding: 10px;
  margin-right: 5px;
}

.contacts .contact .male-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contact .male-block .male {
  background: url("../icons/mail.png") center center/contain no-repeat;
  padding: 10px;
  margin-right: 5px;
}

.contacts .contact .tel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contact .tel-block .tel {
  background: url("../icons/telephone.png") center center/contain no-repeat;
  padding: 10px;
  margin-right: 5px;
}

.contacts .news {
  width: 30%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 52px;
  margin-bottom: 40px;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
}

.contacts .news h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.contacts .news p {
  color: wheat;
  line-height: 1.5;
  font-size: 17px;
}

.contacts .news p:nth-child(odd) {
  color: #253aa5;
  font-size: 17px;
  margin-bottom: 10px;
  font-style: italic;
}

.bottom {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.bottom .copyrigth {
  color: white;
  font-size: 15px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bottom .design {
  color: white;
  font-size: 15px;
}

.bottom .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom .social .vk {
  background: url("../social/vk.svg") center center/cover no-repeat;
  padding: 15px;
  margin-right: 5px;
}

.bottom .social .facebook {
  background: url("../social/facebook.svg") center center/cover no-repeat;
  padding: 15px;
  margin-right: 5px;
}

.bottom .social .inst {
  background: url("../social/instagram.svg") center center/cover no-repeat;
  padding: 15px;
  margin-right: 5px;
}

@media (max-width: 1216px) {
  .feedback .conBlock {
    display: none;
  }
}

@media (max-width: 975px) {
  .contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts .poster {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    text-align: center;
  }
  .contacts .poster .poster-logotip {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts .contact {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    text-align: center;
  }
  .contacts .contact .place-block, .contacts .contact .male-block, .contacts .contact .tel-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts .news {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    text-align: center;
  }
  .background .shadow .menu {
    display: none;
  }
  .background .shadow .burger-menu {
    display: none;
    background: rgba(111, 83, 83, 0.61);
    position: fixed;
    right: 0;
    left: 1200px;
    bottom: 0;
    top: 0;
    z-index: 99999;
    -webkit-animation: burger-menu 2s both;
            animation: burger-menu 2s both;
  }
  .background .shadow .burger-menu .logotip {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
  }
  .background .shadow .burger-menu .logotip .logo {
    background: url(../logo/moscow.png) center center/contain no-repeat;
    padding: 20px;
  }
  .background .shadow .burger-menu .logotip span {
    font-size: 25px;
    margin-left: 10px;
    color: yellow;
    cursor: context-menu;
    font-style: italic;
    font-family: 'Lobster', cursive;
    margin-right: 30px;
  }
  .background .shadow .burger-menu nav {
    margin-top: 20px;
    text-align: center;
    width: 200px;
  }
  .background .shadow .burger-menu nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #2cf732;
    font-size: 30px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }
  .background .shadow .burger-menu nav a:before {
    content: '';
    width: 0;
    height: 3px;
    background: #cc0c0c;
    position: absolute;
    bottom: -1px;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
  .background .shadow .burger-menu nav a:hover:before {
    width: 100%;
  }
  .background .shadow .burger-icon {
    z-index: 99999999;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 30px;
  }
  .background .shadow .burger-icon .line1 {
    width: 30px;
    border: 3px solid red;
    margin-bottom: 4px;
  }
  .background .shadow .burger-icon .line2 {
    width: 30px;
    border: 3px solid red;
    margin-bottom: 4px;
  }
  .background .shadow .burger-icon .line3 {
    width: 30px;
    border: 3px solid red;
    margin-bottom: 4px;
  }
  .background .shadow .burger-icon .line1-open {
    margin-bottom: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .background .shadow .burger-icon .line3-open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .background .shadow .open {
    top: 45px;
    right: 1200px;
    -webkit-animation: burger-icon 2s both;
            animation: burger-icon 2s both;
  }
}

@media (max-width: 700px) {
  .contacts-content .ccc {
    padding: 10px 20px;
  }
  .bottom .copyrigth {
    display: none;
  }
  .bottom .design {
    display: none;
  }
  .bottom .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .contacts-content .staff .block-staff {
    padding: 0;
    width: 90%;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-content .staff .block-staff .picture-staff1 {
    width: 90%;
    height: 300px;
  }
  .contacts-content .staff .block-staff .picture-staff2 {
    width: 90%;
    height: 300px;
  }
  .contacts-content .staff .block-staff .info-staff {
    width: 90%;
    height: 150px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contacts-content .staff .block-staff .info-staff .name {
    font-size: 25px;
  }
  .contacts-content .staff .block-staff .info-staff p {
    font-size: 19px;
    padding: 3px;
  }
}

@media (max-width: 380px) {
  .contacts-content .staff .block-staff .info-staff {
    height: 170px;
  }
}
/*# sourceMappingURL=style.css.map */